.new-collection-modal {
  background: #414040e3;

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  .new-collection-modal__container {
    width: 50%;
    height: 50%;
    background: white;
    margin-left: 25%;
    margin-top: 8%;
    padding: 30px 30px 10px;

    form {
      .form-item {
        margin-bottom: 10px;
        label {
          display: block;
        }
        input {
          padding: 8px 6px;
          width: 100%;
          border: none;
          &:not([type="file"]) {
            border: solid 2px #30303046;
          }
        }
      }
    }
  }
}
